.Contacts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5rem 0 2rem;
}

.Contacts_content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;
  align-items: end;
  align-content: center;
  flex: 1;
  margin-bottom: 1rem;
}

.Contacts_sidebar .Contacts_sidebar_item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.Contacts_sidebar_item {
  background-color: #f2f2f2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.Contacts_sidebar_item span {
  font-weight: bold;
}

.Contacts_sidebar_item_el {
  margin: 0.45rem 0;
}

.Contacts_sidebar_item_el span {
  display: block;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

.Contacts_sidebar_item_el a {
  display: inline-block;
  background-color: #333333;
  text-decoration: none;
  color: #ffffff;
  padding: 0 0.5rem;
}

.Contacts_footer {
  color: #666666;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: -1rem;
}

@media screen and (max-width: 980px) {
  .Contacts {
    padding: 7rem 0 2rem;
  }

  .Contacts_content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  .Contacts_sidebar {
    order: 2;
  }

  .Contacts_Form {
    order: 1;
  }
}
