.Projects {
  padding-top: 7rem;
}

.Projects span {
  display: block;
}

.Projects_item {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin-bottom: 2rem;
}

.Projects_item h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 0.25rem;
}

.Projects_item > span {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-bottom: 1rem;
  color: #3c3c3c;
  font-weight: 600;
}

.Projects_item_img {
  grid-column: 1/2;
  grid-row: 3/4;
  max-height: 500px;
  width: 100%;
}

.Projects_item_desc {
  grid-column: 2/3;
  grid-row: 3/4;
  position: relative;
  padding-bottom: 2.5rem;
}

.Projects_item_desc_stack {
  display: block;
  margin-top: 1rem;
  color: #555555;
  font-weight: 200;
}

.Projects_item_link {
  border-radius: 2px;
  display: inline-block;
  color: #ffffff;
  background-color: #444444;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.25rem 0;
  width: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 1s ease;
}

.Projects_item_link:hover {
  background-color: #222222;
}

@media screen and (max-width: 980px) {
  .Projects_item {
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0;
    margin-bottom: 2.5rem;
  }

  .Projects_item h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-bottom: 0.25rem;
  }

  .Projects_item > span {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-bottom: 1rem;
  }

  .Projects_item_img {
    grid-row: 3/4;
    grid-column: 1/3;
    max-height: 500px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .Projects_item_desc {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-bottom: 1rem;
  }

  .Projects_item_link {
    padding: 0.5rem 0;
    width: 33.3333%;
  }
}
